
extends layout
block extraHeader
  link(href='/stylesheets/error.css', rel='stylesheet', type='text/css', media='all')
block content
  include  templates/nav
  .wrap
    .content
      img(src='images/error-img.png', title='error')
      p
        span
          label Ohh..... &nbsp;
        | La pagina que has solicitado no existe.
      a(href='/') Volver a inicio
      .copy-right
        p
          | &#169 All rights Reserved | Designed by 
          a(href='http://w3layouts.com/') W3Layouts
